
<link href="~/css/orders.css" rel="stylesheet" />
@model OrderViewModel


<div class="container custom-container mt-4">
    <div class="row">
        <div class="col-md-5">
            <div class="card order-summary-card">
                <h4 class="card-title text-center">Order Items</h4>
                <div class="order-items-container">
                    <div class="text-center text-capitalize ">
                        <p>Order Status : @Model.orderSummary.OrderStatus</p>
                    </div>
                    @foreach (var item in Model.orderDetails)
                    {
                        <div class="border-bottom pb-2 mb-2">
                            <p class="fw-bold text-primary">Product: @item.product.Name</p>
                            <p>Quantity: <span class="text-dark">@item.count</span></p>
                            <p>Price: <span class="text-success">$@item.product.Price</span></p>
                        </div>
                    }
                    @if (Model.orderSummary.OrderStatus == "approved")
                    {
                        <form method="post" asp-action="ProccessOrder" asp-controller="Orders">
                            <input type="hidden"  asp-for="@Model.orderSummary.ID" />
                            <button type="submit" class="btn btn-primary">Start Processing</button>
                        </form>
                    }

                    @if (Model.orderSummary.OrderStatus == "proccessing")
                    {
                        <form method="post" asp-action="OrderShipping" asp-controller="Orders">
                            <input type="hidden" asp-for="@Model.orderSummary.ID" />
                            <button type="submit" class="btn btn-warning">Start Shipping</button>
                        </form>
                    }

                    @if (Model.orderSummary.OrderStatus != "approved" || Model.orderSummary.OrderStatus != "refunded")
                    {
                        <form method="post" asp-action="CancelOrder" asp-controller="Orders">
                            <input type="hidden" asp-for="@Model.orderSummary.ID" />
                            <button type="submit" class="btn btn-danger">Cancel Order</button>
                        </form>
                    }

                    
                    
                   
                </div>
            </div>
        </div> 

        
        <div class="col-md-7">
            <div class="card shadow-lg p-4">
                <h2 class="text-center card-title">Order Details</h2>
                <form method="post" asp-action="UpdateDetails">
                        
                    <div asp-validation-summary="All" class="alert alert-danger"></div>
                    <input hidden asp-for="@Model.orderSummary.ID" />
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.Name" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.Name" class="form-control" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.Address" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.Address" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.Email" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.Email" class="form-control" readonly />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.SessionId" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.SessionId" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.PaymentIntentId" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.PaymentIntentId" class="form-control" readonly />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.PaymentStatus" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.PaymentStatus" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.OrderDate" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.OrderDate" class="form-control" readonly />
                        </div>
                         <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.TrackingNumber" class="form-label"></label>
                            @if (Model.orderSummary.OrderStatus == "proccessing")
                            {
                                <input required asp-for="@Model.orderSummary.TrackingNumber" class="form-control" />
                            }else{
                             <input asp-for="@Model.orderSummary.TrackingNumber" class="form-control" />
                            }
                            
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.Carrier" class="form-label"></label>

                            @if (Model.orderSummary.OrderStatus == "proccessing")
                            {
                                <input required asp-for="@Model.orderSummary.Carrier" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="@Model.orderSummary.Carrier" class="form-control" />
                            }
                            
                            
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="@Model.orderSummary.ShippingDate" class="form-label"></label>
                            <input asp-for="@Model.orderSummary.ShippingDate" class="form-control" />
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn custom-btn px-4">Update</button>
                        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
