@model ShoppingCartViewModel

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="~/css/shoppingcartStyle.css">

<section class="shopping-cart dark">
    <div class="container">
        <div class="block-heading">
            <h2>Shopping Cart</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="items">
                       
                        @foreach (var prd in Model.shoppingCarts)
                        {
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image" src="~/@prd.product.ImgUrl" style="width: 200px; height: 200px; object-fit: cover; object-position: center;" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <a href="/User/Home/Details/@prd.product.ID" style="color:darkcyan">@prd.product.Name</a>
                                                    <div class="product-info">
                                                        <div>
                                                            Description:
                                                            <span class="value">@prd.product.Description</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <div class="btn-group" role="group">
                                                        <a class="btn custom-btn" asp-action="IncreaseCart" asp-route-cartId="@prd.ID">+</a>
                                                        <span style="margin:6px">@prd.count</span>
                                                        <a class="btn custom-btn" asp-action="DecreaseCart" asp-route-cartId="@prd.ID">-</a>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>$@prd.product.Price</span>
                                                </div>
                                                <div class="col-md-1" style="margin:10px">
                                                    <a class="btn custom-btn" asp-action="DeleteCart" asp-route-cartId="@prd.ID">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Summary</h3>


                        <div class="summary-item"><span class="text">Total Price</span><span class="price">$@Model.TotalPrice</span></div>
                        <br />
                        <a  href="/User/Cart/Summary" class="btn btn-primary btn-lg btn-block">Order Summary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
